body {
    background-color: lightblue;
}
.text-box {
    background-color: white;
    margin: auto;
    width: 1000px;
    height: 500px;
}
.h1 {
    position: relative;
    left: 500px;
}
#warning {
    opacity: 0%;
    background-color: red
}
@media (max-height: 520px) {
    body {
        background-color: red;
    }
    .text-box {
        opacity: 0%;
    }
    #warning {
        opacity: 100%
    }
    .h1 {
        opacity: 0%;
    }
}
.generate {
    background-color: lightgreen;
    position: relative;
    top: 300px;
    right: 300px;
}